body{
    font-family: open-sans, sans-serif;
    background-color: #f0f0f0;
}

#root{
    display: flex;
    flex-direction: column;
}

#root img{
    width: 150px;
    align-self: center;
    margin: 2em 0;
}

h1{
    text-align: center;
    margin: 2em 0 ;
    font-size: 3.5em;
}

.character-grid{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    text-transform: capitalize;
}

.character-card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 1em;
    cursor: pointer;
}

.character-card img{
    width: 100%;
}

.selected{
    border: 2px solid #0077b6;
}

.selected-character-title{
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
    text-transform: capitalize;
}

.vision-spinner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #FF5733;    /* Pyro */
  border-right-color: #0077b6; /* Hydro */
  border-bottom-color: #bb86fc; /* Electro */
  border-left-color: #7acaa6;  /* Anemo */
  
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
